<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"> New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="list-group-item clearfix" *ngFor="let r of recipe">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{r.name}}</h4>
            <p class="list-group-item-text">
                {{r.description}}
            </p>
            <span class="pull-right">
                <img [src]="r.image" class="img-responsive" style="max-height: 40px;" alt="">
            </span>
            </div>
        </a>
        <hr>
        <app-recipe-item></app-recipe-item>
    </div>
</div>